.cart_header{
    display: flex;
    flex-direction: row;
}

.cart_main{

}

.cart_wrap{
    
}

.cart_header{
    display: flex;
    flex-direction: row;
}

.button_continue{
    padding: 10px 30px;
    background-color: #d7d7d7;
}

.button_buy{
    background-color: black ;
}
