.cart_header{
    display: flex;
    flex-direction: row;
}

.cart_main{

}


.cart_table{
    width: 100%;
}
.cart_wrap{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}

.cart_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cart_item{
    padding-bottom: 24px;
}

.button_continue, .button_buy{
    text-align: center;
    width: 180px;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.button_continue{
    background-color: #e48509;

}

.button_buy{
    margin-left: 14px;
    background-color:rgb(25, 170, 5);
}

.button_remove{
    text-align: center;
    margin-right: 6px;
    padding: 6px 12px;
    background: red;
    font-weight: bolder;
    border-radius: 8px;
    color: #fff;
}

.item_quantity, .price, .total_price{
    text-align: center;
}

.total_price{
    font-weight:bolder;
}

.total_price_label{
    text-align: center;
    font-size: 20px;
}