{%extends 'base.html'%}


{%block statistic%}
    <div class="statistic">
        <h2>Останні 25 каналів, переглянутих за типом каналу</h2>
        <div class="wrp_stat">
            <div class="stat_item">
                <img src="data:image/png;base64,{{ img }}" width="600px" height="600px"></img>
            </div>
            <div class="stat_item">
                <p class = "text">Діаграма є розсіювальним графіком, який відображає статистику останніх 25 YouTube-каналів, розділених за типами, а саме: спорт, навчання, фільми, комедії, люди, музика, освіта, ігри, розваги.  Графік показує , що останніми каналами, що мали найбільше переглядів є спортивні та навчальні. Найменш цікавими для користувачів виявилисьь канали з іграми та розвагами. </p>
            </div>
        </div>
    </div>
{%endblock%}
