{%extends 'base.html'%}


{%block statistic%}
<div class="statistic">
    <h2>25 найпопулярніших каналів за їх типом</h2>
    <div class="wrp_stat">
        <div class="stat_item">
            <img src="data:image/png;base64,{{ img }}" width="600px" height="600px"></img>
        </div>
        <div class="stat_item">
            <p class = "text">Ця діаграма відображає розподіл 25 найпопулярніших каналів за їх типом. Канали розділені на категорії: Музика, Освіта, Розваги, Люди, Спорт та Фільми. Кожна синя точка представляє окремий канал. Цей графік ілюструє популярність різних типів YouTube-каналів на основі кількості переглядів. За результатами, можна побачити, що найпопулярнішим типом каналу є "Музика", також глядачам цікаві канали з навчанням, а найменший попит -  канали з фільмами.</p>
        </div>
    </div>
</div>
{%endblock%}
