{%extends 'base.html'%}


{%block statistic%}
    <div class="statistic">
        <h2>Популярність YouTube-каналів в країнах</h2>
        <div class="wrp_stat">
            <div class="stat_item">
                <img src="data:image/png;base64,{{ img }}" width="600px" height="600px"></img>
            </div>
            <div class="stat_item">
                <p class = "text">За діаграмою, найпопулярніший канал знаходиться у Сполучених Штатах, маючи 32.31% популярності, на другому місці Індія з 25.09%, а Бразилія, Велика Британія та Індонезія мають меншу частку. Ця діаграма ілюструє популярність каналів у різних країнах, при цьому Сполучені Штати та Індія вибиваються своєю великою популярністю.</p>
            </div>
        </div>
    </div>
{%endblock%}
