{%extends 'base.html'%}


{%block statistic%}
    <div class="statistic">
        <h2>Типи каналів, %</h2>
        <div class="wrp_stat">
            <div class="stat_item">
                <img src="data:image/png;base64,{{ img }}" width="600px" height="600px"></img>
            </div>
            <div class="stat_item">
                <p class = "text">На діаграмі показано відсоток переглядів за типом на платформі. Розваги мають найвищий відсоток - 32,67%, за ними йде Музика з 22,38%. Інші категорії, такі як Ігри, Люди, Освіта, Комедія, Фільми, Авто та транспорт, Спорт, Технології, Стиль життя та Новини, мають менші відсотки1. Ця діаграма цікава тим, що виділяє Розваги та Музику як домінуючі категорії.</p>
            </div>
        </div>
    </div>
{%endblock%}
